<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02-07-ajaxShow</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <style type="text/css">
    [v-cloak]{
      display: none;
    }
    .img{
      position: relative;
      width: 550px;
      height: 300px;
    }
    .img > img{
      position: absolute;
      top: 0;
      left: 0;
    }
    .nav{
      text-align: center
    }
    .nav > a{
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin: 5px;
      background-color: white;
    }
    .nav > a.active{
      background-color: black;
    }
  </style>
</head>
<body>
  <div id="app">
    <div id="container" v-if="imglist.length">
      <div class="img">
        <img :src="imgSrc">
      </div>
      <div class="nav">
        <a
         href="javascript:;" 
         v-for="(item,index) in imglist"
         :class="{active: active == index}"></a>
      </div>
    </div>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/superagent.js"></script>
  <script>
    (function(window){
        var data = {
          active : 3,
          imglist: []
        }
        var vm = new Vue({
          el:'#app',
          data:data,
          computed:{
            imgSrc:function(){
              return this.imglist[this.active].src
            }
          },
          created:function(){
            superagent.get('./api/imgData.json').end((err,res) => {
              if(err){
                alert('error');
              }else{
                this.imglist = JSON.parse(res.text).list;
              }
            })
          }
        })
    })(window)
  </script>
</body>
</html>